<!--Start Footer-->
<footer class="bg-[#03283d] block pt-10 px-6 ">
    <div class="container mx-auto">
        <div class="w-full">
            <img src="/src/images/H-logo.png" class="w-36" alt="">
        </div>
        <div class="grid grid-cols-2 sm:grid-cols-4 gap-8 sm:gap-4 sm:mt-10 mt-4 justify-center">
            <div class="sm:col-span-1 col-span-2 sm:row-span-1 mb-7 sm:mb-0">
                <div class="text-white font-['Noto_Sans'] text-sm leading-6">
                    The greatest development team for
                    <br> a great business
                </div>
                <div class="mt-2 flex flex-col">
                    <a href="mailto:contactus@megaforest.co" class="text-white hover:text-[#2ab673] font-['Noto_Sans'] text-sm leading-6">contactus@megaforest.co</a>
                    <a href="tel:+447537167286" class="text-white hover:text-[#2ab673] font-['Noto_Sans'] text-sm leading-6">+44 7537 167286</a>
                </div>
            </div>
            <div class="sm:col-span-1 sm:row-span-1 mb-5 sm:mb-0">
                <div class="flex flex-col">
                    <a href="https://megaforest.co/how-we-work/" class="text-white hover:text-[#2ab673] font-['Noto_Sans'] text-sm leading-6">How we work</a>
                    <a href="https://megaforest.co/approach/" class="text-white hover:text-[#2ab673] font-['Noto_Sans'] text-sm leading-6">Approach</a>
                    <a href="https://megaforest.co/technology-stack/" class="text-white hover:text-[#2ab673] font-['Noto_Sans'] text-sm leading-6">Technology stack</a>
                    <a href="https://megaforest.co/projects/" class="text-white hover:text-[#2ab673] font-['Noto_Sans'] text-sm leading-6">Projects</a>
                    <a href="https://megaforest.co/career/" class="text-white hover:text-[#2ab673] font-['Noto_Sans'] text-sm leading-6">Contact Us</a>
                </div>
            </div>
            <div class="sm:col-span-1 sm:row-span-1 col-span-4 mb-5 sm:mb-0">
                <div class="flex flex-col">
                    <a href="#" class="text-white hover:text-[#2ab673] font-['Noto_Sans'] text-sm leading-6">About us</a>
                    <a href="#" class="text-white hover:text-[#2ab673] font-['Noto_Sans'] text-sm leading-6">Careers</a>
                </div>
            </div>
            <div class="sm:col-span-1 sm:row-span-1 self-start md:mt-0 mt-0 w-full">
                <div class="flex items-center">
                    <a href="https://t.me/megaforest">
                        <i class="fab fa-telegram text-white text-3xl mr-5"></i>
                    </a>
                    <a href="https://wa.me/+447537167286">
                        <i class="fab fa-whatsapp text-white text-3xl mr-5"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/megaforest-software-company-989a5120b">
                        <i class="fab fa-linkedin text-white text-3xl"></i>
                    </a>
                </div>
                <!-- <div class="flex flex-col mt-5">
                    <a href="mailto:contactus@megaforest.co" class="text-white hover:text-[#2ab673] font-['Noto_Sans'] text-sm leading-6">contactus@megaforest.co</a>
                    <a href="tel:+447537167286" class="text-white hover:text-[#2ab673] font-['Noto_Sans'] text-sm leading-6">+44 7537 167286</a>
                </div> -->
            </div>
        </div>
        <div class="mt-16 py-4">
            <p class="text-white font-['Noto_Sans'] text-sm mx-auto mb-2 md:mb-0">©Copyright – 2022 – Megaforest</p>
        </div>
    </div>
</footer>
<!--End Footer-->