<nav class="  !bg-white md:px-2 lg:px-12 2xl:px-[188px]  px-8 border-b navbar fixed w-full top-0 left-0 py-5 z-50 transition-all duration-300">
  <div class="space-x-4 container mx-auto w-full flex justify-between items-center">
    <a href="/">
      <img src="src/images/H-logo.png" class="w-28 sm:w-32 " alt="">
    </a>
    <a href="#contact"
       class=" bg-[#03283d]  hover:bg-[#053a4f] rounded-3xl text-white px-4 sm:px-9 md:px-12 py-3 sm:inline-block "
       onclick="$('#contact-section').animatescroll();">
      We are here!
    </a>
  </div>
</nav>