<!--<nav class="  !bg-white md:px-2 lg:px-12 2xl:px-[188px]  px-8 border-b navbar fixed w-full top-0 left-0 py-5 z-50 transition-all duration-300">-->
<!--  <div class="space-x-4 container mx-auto w-full flex justify-between items-center">-->
<!--    <a href="/">-->
<!--      <img src="src/images/H-logo.png" class="w-28 sm:w-32 " alt="">-->
<!--    </a>-->
<!--    <ul class="md:relative md:justify-between md:items-center md:!flex md:w-auto md:bg-transparent md:!h-full hidden absolute top-full left-0 bg-white max-h-max overflow-hidden w-full h-screen text-center" data-mobile="menu">-->
<!--      <li>-->
<!--        <a href="/" class="md:px-6 md:py-4 md:w-auto w-full py-5 block text-zinc-900 relative after:content-[''] hover:after:block after:absolute after:-bottom-0 after:left-1/2 after:-translate-x-1/2 after:bg-center after:bg-no-repeat after:w-5 after:h-5 after:bg-[url('https://uploads-ssl.webflow.com/627e16866a9bde35fe9bcc42/62b964e5cb92c4216da32079_ellipse.svg')]">home</a>-->
<!--      </li>-->
<!--      <li>-->
<!--        <a href="/how-we-work/" class="md:px-6 md:py-4 md:w-auto w-full py-5 block text-zinc-900 relative after:content-[''] after:hidden hover:after:block after:absolute after:-bottom-0 after:left-1/2 after:-translate-x-1/2 after:bg-center after:bg-no-repeat after:w-5 after:h-5 after:bg-[url('https://uploads-ssl.webflow.com/627e16866a9bde35fe9bcc42/62b964e5cb92c4216da32079_ellipse.svg')]">how we work</a>-->
<!--      </li>-->
<!--      <li>-->
<!--        <a href="/approach/" class="md:px-6 md:py-4 md:w-auto w-full py-5 block text-zinc-900 relative after:content-[''] after:hidden hover:after:block after:absolute after:-bottom-0 after:left-1/2 after:-translate-x-1/2 after:bg-center after:bg-no-repeat after:w-5 after:h-5 after:bg-[url('https://uploads-ssl.webflow.com/627e16866a9bde35fe9bcc42/62b964e5cb92c4216da32079_ellipse.svg')]">approach</a>-->
<!--      </li>-->
<!--      <li>-->
<!--        <a href="/technology-stack/" class="md:px-6 md:py-4 md:w-auto w-full py-5 block text-zinc-900 relative after:content-[''] after:hidden hover:after:block after:absolute after:-bottom-0 after:left-1/2 after:-translate-x-1/2 after:bg-center after:bg-no-repeat after:w-5 after:h-5 after:bg-[url('https://uploads-ssl.webflow.com/627e16866a9bde35fe9bcc42/62b964e5cb92c4216da32079_ellipse.svg')]">technology stack</a>-->
<!--      </li>-->
<!--      <li>-->
<!--        <a href="/projects/" class="md:px-6 md:py-4 md:w-auto w-full py-5 block text-zinc-900 relative after:content-[''] after:hidden hover:after:block after:absolute after:-bottom-0 after:left-1/2 after:-translate-x-1/2 after:bg-center after:bg-no-repeat after:w-5 after:h-5 after:bg-[url('https://uploads-ssl.webflow.com/627e16866a9bde35fe9bcc42/62b964e5cb92c4216da32079_ellipse.svg')]">projects</a>-->
<!--      </li>-->
<!--      <li>-->
<!--        <a href="/contact/" class="md:px-6 md:py-4 md:w-auto w-full py-5 block text-zinc-900 relative after:content-[''] after:hidden hover:after:block after:absolute after:-bottom-0 after:left-1/2 after:-translate-x-1/2 after:bg-center after:bg-no-repeat after:w-5 after:h-5 after:bg-[url('https://uploads-ssl.webflow.com/627e16866a9bde35fe9bcc42/62b964e5cb92c4216da32079_ellipse.svg')]">contact us</a>-->
<!--      </li>-->
<!--      <li>-->
<!--        <a href="/contact/" class="bg-[#03283d] hover:bg-[#053a4f] rounded-3xl text-white px-9 py-3 mt-20 mb-2 sm:hidden inline-block">-->
<!--          We are here!-->
<!--        </a>-->
<!--      </li>-->
<!--    </ul>-->
<!--    <a href="#contact"-->
<!--       class=" bg-[#03283d]  hover:bg-[#053a4f] rounded-3xl text-white px-4 sm:px-9 md:px-12 py-3 sm:inline-block "-->
<!--       onclick="$('#contact-section').animatescroll();">-->
<!--      We are here!-->
<!--    </a>-->
<!--  </div>-->
<!--</nav>-->


<nav class="px-4 navbar fixed w-full top-0 left-0 py-5 z-50 transition-all duration-300">
  <div class="container mx-auto w-full flex justify-between items-center">
    <a href="/">
      <img src="../src/images/H-logo.png" class="w-32" alt="">
    </a>
    <a href="javascript:void(0)" class="lg:hidden px-5 py-3 flex justify-center items-center hover:bg-gray-400 hover:text-white" data-mobile="menu-icon">
      <i class="fa fa-bars text-2xl"></i>
    </a>
    <ul class="md:relative md:justify-between md:items-center md:!flex md:w-auto md:bg-transparent md:!h-full hidden absolute top-full left-0 bg-white max-h-max overflow-hidden w-full h-screen text-center" data-mobile="menu">
      <li>
        <a href="/" class="md:px-6 md:py-4 md:w-auto w-full py-5 block text-zinc-900 relative after:content-[''] hover:after:block after:absolute after:-bottom-0 after:left-1/2 after:-translate-x-1/2 after:bg-center after:bg-no-repeat after:w-5 after:h-5 after:bg-[url('https://uploads-ssl.webflow.com/627e16866a9bde35fe9bcc42/62b964e5cb92c4216da32079_ellipse.svg')]">home</a>
      </li>
      <li>
        <a href="/how-we-work/" class="md:px-6 md:py-4 md:w-auto w-full py-5 block text-zinc-900 relative after:content-[''] after:hidden hover:after:block after:absolute after:-bottom-0 after:left-1/2 after:-translate-x-1/2 after:bg-center after:bg-no-repeat after:w-5 after:h-5 after:bg-[url('https://uploads-ssl.webflow.com/627e16866a9bde35fe9bcc42/62b964e5cb92c4216da32079_ellipse.svg')]">how we work</a>
      </li>
      <li>
        <a href="/approach/" class="md:px-6 md:py-4 md:w-auto w-full py-5 block text-zinc-900 relative after:content-[''] after:hidden hover:after:block after:absolute after:-bottom-0 after:left-1/2 after:-translate-x-1/2 after:bg-center after:bg-no-repeat after:w-5 after:h-5 after:bg-[url('https://uploads-ssl.webflow.com/627e16866a9bde35fe9bcc42/62b964e5cb92c4216da32079_ellipse.svg')]">approach</a>
      </li>
      <li>
        <a href="/technology-stack/" class="md:px-6 md:py-4 md:w-auto w-full py-5 block text-zinc-900 relative after:content-[''] after:hidden hover:after:block after:absolute after:-bottom-0 after:left-1/2 after:-translate-x-1/2 after:bg-center after:bg-no-repeat after:w-5 after:h-5 after:bg-[url('https://uploads-ssl.webflow.com/627e16866a9bde35fe9bcc42/62b964e5cb92c4216da32079_ellipse.svg')]">technology stack</a>
      </li>
      <li>
        <a href="/projects/" class="md:px-6 md:py-4 md:w-auto w-full py-5 block text-zinc-900 relative after:content-[''] after:hidden hover:after:block after:absolute after:-bottom-0 after:left-1/2 after:-translate-x-1/2 after:bg-center after:bg-no-repeat after:w-5 after:h-5 after:bg-[url('https://uploads-ssl.webflow.com/627e16866a9bde35fe9bcc42/62b964e5cb92c4216da32079_ellipse.svg')]">projects</a>
      </li>
      <li>
        <a href="/contact/" class="md:px-6 md:py-4 md:w-auto w-full py-5 block text-zinc-900 relative after:content-[''] after:hidden hover:after:block after:absolute after:-bottom-0 after:left-1/2 after:-translate-x-1/2 after:bg-center after:bg-no-repeat after:w-5 after:h-5 after:bg-[url('https://uploads-ssl.webflow.com/627e16866a9bde35fe9bcc42/62b964e5cb92c4216da32079_ellipse.svg')]">contact us</a>
      </li>
      <li>
        <a href="/contact/" class="bg-[#03283d] hover:bg-[#053a4f] rounded-3xl text-white px-9 py-3 mt-20 mb-2 sm:hidden inline-block">
          We are here!
        </a>
      </li>
    </ul>
    <a href="#contact" class="bg-[#03283d] hover:bg-[#053a4f] rounded-3xl text-white px-9 py-3 md:inline-block hidden" onclick="$('#contact-section').animatescroll();">
      We are here!
    </a>
  </div>
</nav>
<!--End Page Navbar-->