<div class="bg-[url('../../src/images/hero-looper-group-approach.svg')] bg-no-repeat  bg-[50%_50%]  pt-[19rem]  bg-[length:100rem]"></div>
<div class=" bg-[#03283d]  w-full ">
    <div class="relative md:px-2 lg:px-12 pt-12 2xl:px-[188px] min-h-screen  xl:min-h-[70vh] py-12   ">
        <img src="src/images/looper-1-light.svg" alt=""
             class="w-48 md:w-64  absolute top-24 right-0 md:right-10 xl:right-32 z-0  ">
        <!--            title-->
        <div class=" px-6 space-y-4 ">
            <span class="text-4xl text-white">packeges</span>
            <div class="space-y-4">
                <p class="text-white">You can either purchase any service you need or choose our "Economical Advertising Packages".</p>
                <p class="text-white w-full">Save up to 40% by purchasing the Economical packages.
                    Competitive prices
                    Refund if you don't get promised quality
                    On time delivery
                    Working with professional Digital Creators</p>
            </div>
        </div>
        <!--   pakage 1-->

        <div class=" w-full bg-[#03283d] xl:min-h-0  py-12 px-6  grid grid-cols-1 md:grid-cols-2 space-y-[3rem] md:space-y-0  md:gap-y-7  xl:grid-cols-4">
            <div class="text-white rounded-xl  sm:w-[90%]  shadow-[-7px_7px_20px_-12px_#f3faff]   bg-[rgba(3,40,61,1)] ">
                <div class="bg-green-400 w-full text-center text-2xl py-[20px] rounded-t-xl relative text-white">
                    Adversting
                </div>
                <div class="px-2  border-b-2 mx-2 border-dotted py-4 text-white  text-[2rem] font-medium text-center">
                    $500
                </div>
                <div class="px-2 text-center border-b-2 mx-2 border-dotted py-4 ">
                    <span>3 videos (30-40s each)</span>
                </div>
                <div class="px-1 text-center border-b-2 mx-2 border-dotted py-4 ">
                    <span class="text-center">1 poster (any size needed up to 4sizes)</span>
                </div>
                <div class="px-2 text-center  mx-2  py-4 ">
                    <span>Animated logo</span>
                </div>

            </div>
            <!--   pakage 2-->
            <div class="text-white rounded-xl  sm:w-[90%]  shadow-[-7px_7px_20px_-12px_#f3faff]   bg-[rgba(3,40,61,0.9)]  ">
                <div class="bg-green-400 w-full text-center text-2xl py-[20px] rounded-t-xl relative text-white">
                    Premium Advertising
                </div>
                <div class="px-2  border-b-2 mx-2 border-dotted py-4 text-white  text-[2rem] font-medium text-center">
                    $1500
                </div>
                <div class=" text-center border-b-2  border-dotted py-4 ">
                    <span>1 animated motion graphics video + animated logo</span>
                </div>
                <div class="px-1 text-center border-b-2 mx-2 border-dotted py-4 ">
                    <span class="text-center">Animated HTML5 responsive banner in 7 sizes</span>
                </div>
                <div class="px-1 text-center border-b-2 mx-2 border-dotted py-4 ">
                    <span class="text-center">2 videos (30-40s)</span>
                </div>
                <div class="px-2 text-center  mx-2  py-4 ">
                    <span>2  posters (any size needed up to 4sizes each poster)</span>
                </div>
            </div>
            <!--   pakage 3-->
            <div class="text-white rounded-xl  sm:w-[90%]  shadow-[-7px_7px_20px_-12px_#f3faff]   bg-[rgba(3,40,61,0.9)]  ">
                <div class="bg-green-400 w-full text-center text-2xl py-[20px] rounded-t-xl relative text-white">
                    Social Media
                </div>
                <div class="px-2  border-b-2 mx-2 border-dotted py-4 text-white  text-[2rem] font-medium text-center">
                    $750
                </div>
                <div class=" text-center border-b-2  border-dotted py-4 ">
                    <span>Social media matching template</span>
                </div>
                <div class="px-1 text-center border-b-2 mx-2 border-dotted py-4 ">
                    <span class="text-center">100 posters for 10 text posts</span>
                </div>
                <div class="px-1 text-center border-b-2 mx-2 border-dotted py-4 ">
                    <span class="text-center">20 posters for stories</span>
                </div>
            </div>
            <!--                package 4-->
            <div class="text-white rounded-xl  sm:w-[90%]  shadow-[-7px_7px_20px_-12px_#f3faff]   bg-[rgba(3,40,61,0.9)] z-0 ">
                <div class="bg-green-400 w-full text-center text-2xl py-[20px] rounded-t-xl relative text-white">
                    Premium Social Media
                </div>
                <div class="px-2  border-b-2 mx-2 border-dotted py-4 text-white  text-[2rem] font-medium text-center">
                    $950
                </div>
                <div class=" text-center border-b-2  border-dotted py-4 ">
                    <span>Social media matching template</span>
                </div>
                <div class="px-1 text-center border-b-2 mx-2 border-dotted py-4 ">
                    <span class="text-center">70 posters for 7 posts in a month</span>
                </div>
                <div class="px-1 text-center border-b-2 mx-2 border-dotted py-4 ">
                    <span class="text-center">2 videos (30-40s)</span>
                </div>
                <div class="px-2 text-center  mx-2  py-4 ">
                    <span>3 videos, 1min length each</span>
                </div>
            </div>
        </div>
    </div>

</div>