<div

        class=" !pt-[10rem] sm:pt-0  md:px-[53px] 2xl:px-[187px] px-[33px] md:px-0  ">

    <!--        start Head -->
    <!--        end Head -->
    <div class="  grid grid-cols-1 xl:grid-cols-2  lg:gap-x-12 ">
        <!--    Micro-->
        <div class="box-item w-full  lg:px-0 lg:pr-16 ">
            <div class="flip-box ">
                <!-- start front-->
                <div class=" flip-box-front  ">
                    <div class="flex flex-col  lg:flex-row justify-start items-start">
                        <!-- inner-->
                        <div class="min-h-[250px] flex flex-col sm:flex-row lg:rounded-l-xl   bg-white shadow-[-1px_1px_20px_-4px_rgb(3_40_61_/_30%)] w-full ">
                            <div class=" basis-1/3">
                                <img src="src/images/ux-indonesia-qC2n6RQU4Vw-unsplash.jpg"
                                     class="w-full h-52 sm:h-full rounded-t md:rounded-tl md:rounded-l-xl"
                                     alt="">
                            </div>
                            <div class=" relative flex-1 flex flex-col justify-around  text-[#03283d]">
                                <img class="h-[13.3rem] md:h-[14rem] absolute top-[30px] md:top-[2rem]  right-0 -z-0"
                                     src="/src/images/topology-1-grey.svg" alt="">
                                <div class="px-4 py-4">
                                    <span class="text-2xl text-[#03283d] font-bold">Animated motion graphics video (60s)</span>
                                </div>
                                <div class="px-4 py-2 relative z-50">
                                    <div class="text-[1.4rem] "> $750</div>
                                    <div class="text-2xl py-1 text-gray-400">Micro</div>
                                </div>
                                <div class="flex items-center py-3 px-4 w-1/2">
                                    <span class="text-2xl">info</span>
                                    <div class="w-1/2">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                             width="24" height="24">
                                            <path d="M13.1714 12.0007L8.22168 7.05093L9.63589 5.63672L15.9999 12.0007L9.63589 18.3646L8.22168 16.9504L13.1714 12.0007Z"
                                                  fill="rgba(3,40,61,1)"></path>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- end front-->
                <!--back-->
                <div class="flip-box-back bg-[#03283d] h-[25.625rem] sm:h-[14.625rem] md:h-0 sm:min-h-[15.5rem]  shadow-[-1px_1px_20px_-4px_rgb(3_40_61_/_30%)]">
                    <div class=" flex flex-col sm:flex-row relative">
                        <div class=" px-4 py-8">
                            <div class=" space-y-2">
                                <h4 class="text-gray-100 text-4xl  font-bold">Micro-$750</h4>
                                <div class="text-2xl text-gray-300"></div>
                            </div>
                            <div class="py-4 space-y-2 w-full  md:pt-2 md:w-10/12  text-left">
                                <p class="text-gray-300">It includes creating a script, a
                                    storyboard, simple visuals, English voiceover, and stock
                                    music. </p>
                            </div>
                        </div>


                    </div>
                </div>
                <!--end back-->
            </div>
        </div>
        <!--    basic-->
        <div class="box-item w-full  lg:px-0 lg:pr-16 ">
            <div class="flip-box ">
                <!-- start front-->
                <div class=" flip-box-front  ">
                    <div class="flex flex-col  lg:flex-row justify-start items-start">
                        <!-- inner-->
                        <div class="min-h-[250px] flex flex-col sm:flex-row lg:rounded-l-xl   bg-white shadow-[-1px_1px_20px_-4px_rgb(3_40_61_/_30%)] w-full ">
                            <div class=" basis-1/3">
                                <img src="src/images/annie-spratt-wgivdx9dBdQ-unsplash-1-1536x1011.jpg"
                                     class="w-full h-52 sm:h-full rounded-t md:rounded-tl md:rounded-l-xl"
                                     alt="">
                            </div>
                            <div class=" relative flex-1 flex flex-col justify-around  text-[#03283d]">
                                <img class="h-[13.3rem] md:h-[14rem] absolute top-[30px] md:top-[2rem]  right-0 -z-0"
                                     src="/src/images/topology-1-grey.svg" alt="">
                                <div class="px-4 py-4">
                                    <span class="text-2xl text-[#03283d] font-bold">Animated motion graphics video (60s)</span>
                                </div>
                                <div class="px-4 py-2 relative z-50">
                                    <div class="text-[1.4rem] "> $750</div>
                                    <div class="text-2xl py-1 text-gray-400">Basic</div>
                                </div>
                              <div class="flex items-center py-3 px-4 w-1/2">
                                <span class="text-2xl">info</span>
                                <div class="w-1/2">
                                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                       width="24" height="24">
                                    <path d="M13.1714 12.0007L8.22168 7.05093L9.63589 5.63672L15.9999 12.0007L9.63589 18.3646L8.22168 16.9504L13.1714 12.0007Z"
                                          fill="rgba(3,40,61,1)"></path>
                                  </svg>
                                </div>
                              </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- end front-->
                <!--back-->
                <div class="flip-box-back bg-[#03283d] h-[25.625rem] sm:h-[14.625rem] md:h-0 sm:min-h-[15.5rem]  shadow-[-1px_1px_20px_-4px_rgb(3_40_61_/_30%)]">
                    <div class=" flex flex-col sm:flex-row relative">
                        <div class=" px-4 py-8">
                            <div class=" space-y-2">
                                <h4 class="text-gray-100 text-4xl  font-bold">Basic-$1150</h4>
                                <div class="text-2xl text-gray-300"></div>
                            </div>
                            <div class="py-4 space-y-2 w-full md:w-10/12   md:pt-2  text-left">
                                <p class="text-gray-300">It includes creating a script, storyboard,
                                    simple visuals, multilingual voiceover, and stock music.</p>
                            </div>
                        </div>

                    </div>
                </div>
                <!--end back-->
            </div>
        </div>
        <!--    Standard-->
        <div class="box-item w-full  lg:px-0 lg:pr-16 ">
            <div class="flip-box ">
                <!-- start front-->
                <div class=" flip-box-front  ">
                    <div class="flex flex-col  lg:flex-row justify-start items-start">
                        <!-- inner-->
                        <div class="min-h-[250px] flex flex-col sm:flex-row lg:rounded-l-xl   bg-white shadow-[-1px_1px_20px_-4px_rgb(3_40_61_/_30%)] w-full ">
                            <div class=" basis-1/3">
                                <img src="src/images/alesia-kazantceva-XLm6-fPwK5Q-unsplash-1536x1024.jpg"
                                     class="w-full h-52 sm:h-full rounded-t md:rounded-tl md:rounded-l-xl"
                                     alt="">
                            </div>
                            <div class=" relative flex-1 flex flex-col justify-around  text-[#03283d]">
                                <img class="h-[13.3rem] md:h-[14rem] absolute top-[30px] md:top-[2rem]  right-0 -z-0"
                                     src="/src/images/topology-1-grey.svg" alt="">
                                <div class="px-4 py-4">
                                    <span class="text-2xl text-[#03283d] font-bold">Animated motion graphics video (60s)</span>
                                </div>
                                <div class="px-4 py-2 relative z-50">
                                    <div class="text-[1.4rem] "> $1300</div>
                                    <div class="text-2xl py-1 text-gray-400">Standard</div>
                                </div>
                              <div class="flex items-center py-3 px-4 w-1/2">
                                <span class="text-2xl">info</span>
                                <div class="w-1/2">
                                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                       width="24" height="24">
                                    <path d="M13.1714 12.0007L8.22168 7.05093L9.63589 5.63672L15.9999 12.0007L9.63589 18.3646L8.22168 16.9504L13.1714 12.0007Z"
                                          fill="rgba(3,40,61,1)"></path>
                                  </svg>
                                </div>
                              </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- end front-->
                <!--back-->
                <div class="flip-box-back bg-[#03283d] h-[25.625rem] sm:h-[14.625rem] md:h-0 sm:min-h-[15.5rem]  shadow-[-1px_1px_20px_-4px_rgb(3_40_61_/_30%)]">
                    <div class=" flex flex-col sm:flex-row relative">
                        <div class=" px-4 py-8">
                            <div class=" space-y-2">
                                <h4 class="text-gray-100 text-4xl  font-bold">Standard-$1300</h4>
                                <div class="text-2xl text-gray-300"></div>
                            </div>
                            <div class="py-4 space-y-2w-full md:w-10/12  md:pt-2  text-left">
                                <p class="text-gray-300">It includes creating a script, storyboard,
                                    simple visuals, multilingual voiceover, and stock music.</p>
                            </div>
                        </div>


                    </div>
                </div>
                <!--end back-->
            </div>
        </div>
        <!--    Pro-->
        <div class="box-item w-full  lg:px-0 lg:pr-16 ">
            <div class="flip-box ">
                <!-- start front-->
                <div class=" flip-box-front  ">
                    <div class="flex flex-col  lg:flex-row justify-start items-start">
                        <!-- inner-->
                        <div class="min-h-[250px] flex flex-col sm:flex-row lg:rounded-l-xl   bg-white shadow-[-1px_1px_20px_-4px_rgb(3_40_61_/_30%)] w-full ">
                            <div class=" basis-1/3">
                                <img src="src/images/augment-your-software.jpeg"
                                     class="w-full h-52 sm:h-full rounded-t md:rounded-tl md:rounded-l-xl"
                                     alt="">
                            </div>
                            <div class=" relative flex-1 flex flex-col justify-around  text-[#03283d]">
                                <img class="h-[13.3rem] md:h-[14rem] absolute top-[30px] md:top-[2rem]  right-0 -z-0"
                                     src="/src/images/topology-1-grey.svg" alt="">
                                <div class="px-4 py-4">
                                    <span class="text-2xl text-[#03283d] font-bold">Animated motion graphics video (60s)</span>
                                </div>
                                <div class="px-4 py-2 relative z-50">
                                    <div class="text-[1.4rem] "> $1500</div>
                                    <div class="text-2xl py-1 text-gray-400">Pro</div>
                                </div>
                              <div class="flex items-center py-3 px-4 w-1/2">
                                <span class="text-2xl">info</span>
                                <div class="w-1/2">
                                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                       width="24" height="24">
                                    <path d="M13.1714 12.0007L8.22168 7.05093L9.63589 5.63672L15.9999 12.0007L9.63589 18.3646L8.22168 16.9504L13.1714 12.0007Z"
                                          fill="rgba(3,40,61,1)"></path>
                                  </svg>
                                </div>
                              </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- end front-->
                <!--back-->
                <div class="flip-box-back bg-[#03283d] h-[25.625rem] sm:h-[10.625rem] md:h-0 sm:min-h-[15.5rem]  shadow-[-1px_1px_20px_-4px_rgb(3_40_61_/_30%)]">
                    <div class=" flex flex-col sm:flex-row relative">
                        <div class=" px-4 py-8">
                            <div class=" space-y-2">
                                <h4 class="text-gray-100 text-4xl  font-bold">Pro-$1500</h4>
                                <div class="text-2xl text-gray-300"></div>
                            </div>
                            <div class="py-4 w-full md:w-10/12   md:pt-2  text-left">
                                <p class="text-gray-300 ">It includes creating a script, storyboard,
                                    rich visual style with textures, multilingual voiceover, stock
                                    music, sound FX, logo animation, frame-by-frame animation, or 3D
                                    animation </p>
                            </div>
                        </div>

                    </div>
                </div>
                <!--end back-->
            </div>
        </div>
    </div>
    <div class="box-items py-8 w-full lg:px-0 lg:pr-16 grid grid-cols-1 ">
        <div class="flip-box w-full xl:w-1/2 lg:mx-auto">
            <!-- start front-->
            <div class=" flip-box-front  ">
                <div class="flex flex-col  lg:flex-row justify-start items-start">
                    <!-- inner-->
                    <div class="min-h-[15.5rem] flex flex-col sm:flex-row lg:rounded-l-xl   bg-white shadow-[-1px_1px_20px_-4px_rgb(3_40_61_/_30%)] w-full ">
                        <div class=" basis-1/3">
                            <img src="src/images/sam-mcghee-KieCLNzKoBo-unsplash.jpg"
                                 class="w-full h-52 sm:h-full rounded-t md:rounded-tl md:rounded-l-xl"
                                 alt="">
                        </div>
                        <div class=" relative flex-1 flex flex-col justify-around  text-[#03283d]">
                            <img class="h-[8rem] md:h-[14rem] absolute top-[30px] md:top-[2rem]  right-0 -z-0"
                                 src="/src/images/topology-1-grey.svg" alt="">
                            <div class="px-4 py-4">
                                <span class="text-2xl text-[#03283d] font-bold"> Video (30s-60s)</span>
                            </div>
                            <div class="px-4  relative z-50">
                                <div class="text-[1.4rem] py-2">$150-270$</div>
                                <div class="text-[1.4rem] py-1 text-gray-400">Economic</div>
                            </div>

                        </div>
                    </div>
                  <div class="flex items-center py-3 px-4 w-1/2">
                    <span class="text-2xl">info</span>
                    <div class="w-1/2">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                           width="24" height="24">
                        <path d="M13.1714 12.0007L8.22168 7.05093L9.63589 5.63672L15.9999 12.0007L9.63589 18.3646L8.22168 16.9504L13.1714 12.0007Z"
                              fill="rgba(3,40,61,1)"></path>
                      </svg>
                    </div>
                  </div>
                </div>
            </div>
            <!-- end front-->
            <!--back-->
            <div class="flip-box-back bg-[#03283d] h-[25.625rem] sm:h-[10.625rem] md:h-0 sm:min-h-[15.5rem]  shadow-[-1px_1px_20px_-4px_rgb(3_40_61_/_30%)]">
                <div class=" flex flex-col sm:flex-row relative">
                    <div class=" px-4 py-4">
                        <div class=" w-full md:w-10/12   md:pt-2  text-left">
                            <div>
                                <div class=" space-y-2">
                                    <h4 class="text-gray-100 text-4xl  font-bold">$150</h4>
                                    <div class="text-xl text-gray-300">Only Adobe Premiere</div>
                                </div>
                                <div class="py-4 space-y-2">
                                    <h4 class="text-gray-100 text-4xl  font-bold"> $250</h4>
                                    <div class="text-xl text-gray-300">Adobe Premiere + Adobe After
                                        effect
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!--end back-->
        </div>
    </div>
</div>

